// Big Button
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-size: $l-size;
    font-weight: bold;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

.big-button:hover {
    background: darken($purple, 5%);
    border-bottom: .6rem solid darken($purple, 15%);
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
     margin-bottom: $xl-size;
    }
} 



// Button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

.button:hover {
    background: darken($purple, 5%);
    border-bottom: .3rem solid darken($purple, 15%);
}

